footer {
    background-color: rgb(0, 0, 0);
    padding: 14px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    bottom: 0;
    width: 100%;
}

p {
    color: white;
    font-size: 18px;
    font-weight: 300;
}

i {
    color: rgb(255, 255, 255);
    font-size: 18px;
    margin-left: 10px; 
   
}

