.count_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-top: 15%;
}

.count {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.agregar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.button_count {
    padding: 5%;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
}

.button_comprar {
    background-color: rgb(72, 72, 72);
    padding: 5% 2% 5% 2%;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    border: 0;
}

.number {
    margin: 5%;
}

@media screen and (max-width:480px) {
    .count_container {
        margin-top: 8%;
    }

    .button_count {
        padding: 2%;
    }

    .agregar {
        margin-top: 1%;
        margin-bottom: 2%;
    }
    
    .number {
        margin: 2%;
    }

    .button_comprar {
        background-color: rgb(72, 72, 72);
        padding: 3% 2% 3% 2%;
        color: rgb(255, 255, 255);
        border-radius: 5px;
        border: 0;
    }


    
}